extends ../layout

block content
  section.admin-user
    .container
      .head-component
        h1 USER
          span ユーザー管理
      p
        a(href="/admin/user/register") 新規ユーザー登録
  section.admin-space
    .container
      .head-component
        h1 SPACE
          span スペース管理
