extends ../layout

block content
  .container
    h3 管理者
    ul.admin-menu
      li 
        a(href="/admin/space/list") スペース管理
      li
        a(href="/admin/user/list") ユーザー管理
      li
        a(href="/admin/user/register") 新規ユーザー登録
