extends ../layout

block content
  section.breadcrumbs
    .container
      a(href="/") トップページ
      span.hyphen &rang;
      a(href="/admin") 管理者メニュー
      span.hyphen &rang;
      a(href="/admin/space") スペース一覧
      span.hyphen &rang;
      span #{space.spacename}の設定
  #app
    main-component()

block script
  script(src="/javascripts/admin.bundle.js")
