extends ../layout

block content
  section.breadcrumbs
    .container
      a(href="/") トップページ
      span.hyphen &rang;
      a(href="/admin") 管理者メニュー
      span.hyphen &rang;
      span スペース一覧
  #app
    main-component(
      v-bind:spaces="spaces",
      v-on:show-modal="showModal"
    )
    modal-component(
      v-bind:space_data="spaceData",
      v-bind:modal_visibility="modal_visibility",
      v-on:clear-modal="clearModal"
    )
    
block script
  script(src="/javascripts/admin.bundle.js")
