extends ../layout

block content
  section.breadcrumbs
    .container
      a(href="/") トップページ
      span.hyphen &rang;
      a(href="/admin") 管理者メニュー
      span.hyphen &rang;
      span 新規スペース登録
  section.register
    .dialog
      form.ui-component(action="/admin/space/create" method="post")
        div.spacename.ui-block
          label.ui-component(for="spacename") スペース名
            if message.spacename
              span.message.caution #{message.spacename}
          input.ui-component(type="text" name="spacename" id="spacename" placeholder="spacename")
        div.capacity.ui-block
          label.ui-component(for="capacity") 最大収容人数
            if message.capacity
              span.message.caution #{message.capacity}
          input.ui-component(type="text" name="capacity" id="capacity" placeholder="capacity")
        div.officeid.ui-block
          label.ui-component(for="officeid") 所属オフィス
          select.ui-component(name="officeid" id="officeid")
            each office in offices
              option(value="#{office.officeId}") #{office.officename}
        div.ui-block
          button.ui-component(type="submit") 登録
