extends layout

block content
  #app
    pre {{$data}}
    if !loginUser
      section.signin
        .dialog
          form.ui-component(action="/login" method="post")
            div.userid.ui-block
              label.ui-component(id="username") ユーザーネーム
              input.ui-component(type="text" name="username" for="username" placeholder="username")
            div.password.ui-block
              label.ui-component パスワード
              input.ui-component(type="password" name="password" placeholder="password")
            div.ui-block
              button.ui-component(type="submit") ログイン
      section.about
        .container
          .head-component
            h1 About
              span このサービスについて
          .read 
            |このサービスは、会員専用のためご利用にはログインが必要です。
            |また、現在開発中のため、動作や見た目が変わります。
    else
      section.office
        .container
          .office-list
            .box(v-for="office in offices", v-bind:key="office.officeId")
              .information
                .photo
                  img.responsive-img(v-bind:src="office.imgPath")
                .name {{office.officename}}
              .data
                ul.space-list
                  li.space.clearfix(v-for="space in officeSpaceObject[office.officeId]", v-bind:key="space.spaceid")
                    .information.clearfix
                      .name {{space.spacename}}
                      .capacity
                        |最大
                        span {{space.capacity}}
                        |名
                    .reservation
                      .period(v-for="period in space.periods", v-bind:key="period.num")
                        .time {{period.periodname}}
                        a.status.available(v-if="period.availability", key="reserve-available") &#9675;
                        .status.unavailable(v-else, key="reserve-not-available") &#10005;

block modal
  .section.cancel
    .message
      h1 予約内容
      .information
        .office
          .head 施設名
          .body 
        .space
          .head 部屋
          .body 
        .date
          .head 日時
          .body 年 月 日() 
        .name
          .head お名前
          .body 
    .nav-holder
      .btn-holder
        .btn-close.ui-component 閉じる
      .btn-holder
        a.ui-component.confirm(href="/") 予約をキャンセルする

block script
  script.
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        currentDate: {},
        offices: [],
        officeSpaceObject: {}
      },
      mounted() {
        fetch('/api')
          .then(response => response.json())
          .then((data) => {
            this.currentDate = data.currentDate;
            this.offices = data.offices;
            this.officeSpaceObject = data.officeSpaceObject;
            console.log(data);
          })
      }
    })
