extends layout

block content
  #app
    if !loginUser
      section.signin
        .dialog
          form.ui-component(action="/login" method="post")
            div.userid.ui-block
              label.ui-component(id="username") ユーザーネーム
              input.ui-component(type="text" name="username" for="username" placeholder="username")
            div.password.ui-block
              label.ui-component パスワード
              input.ui-component(type="password" name="password" placeholder="password")
            div.ui-block
              button.ui-component(type="submit") ログイン
      section.about
        .container
          .head-component
            h1 About
              span このサービスについて
          .read 
            |このサービスは、会員専用のためご利用にはログインが必要です。
            |また、現在開発中のため、動作や見た目が変わります。
    else
      date-component(
        v-bind:current_date="currentDate",
        v-on:change-date="changeDate"
      )
      section.office
        .container
          .office-list
            office-component(
               v-for="office in offices",
               v-bind:key="office.officeId",
               v-bind:office="office",
               v-bind:spaces="officeSpaceObject[office.officeId]",
               v-bind:current_date="currentDate",
               v-on:show-modal="showModal"
            )
      modal-component(
        v-bind:period_data="periodData",
        v-bind:modal_visibility="modal_visibility",
        v-on:clear-modal="clearModal"
      )

block script
  if loginUser
    script(src="/javascripts/index.bundle.js")
