extends layout

block content
  #app
    if !loginUser
      section.signin
        .dialog
          form.ui-component(action="/login" method="post")
            div.userid.ui-block
              label.ui-component(id="username") ユーザーネーム
              input.ui-component(type="text" name="username" for="username" placeholder="username")
            div.password.ui-block
              label.ui-component パスワード
              input.ui-component(type="password" name="password" placeholder="password")
            div.ui-block
              button.ui-component(type="submit") ログイン
      section.about
        .container
          .head-component
            h1 About
              span このサービスについて
          .read 
            |このサービスは、会員専用のためご利用にはログインが必要です。
            |また、現在開発中のため、動作や見た目が変わります。
    else
      date-component(
        v-bind:current_date="currentDate",
        v-on:change-date="changeDate",
        v-on:input-search="inputSearch"
      )
      section.office
        .container
          transition-group.office-list(tag="div")
            office-component(
               v-for="office in matched",
               v-bind:key="office.officeId",
               v-bind:office="office",
               v-bind:spaces="officeSpaceObject[office.officeId]",
               v-bind:current_date="currentDate",
               v-on:cancel="cancel",
               v-on:reserve="reserve"
            )
      cancel-modal-component(
        v-bind:period_data="periodData",
        v-bind:cancel_modal_visibility="cancel_modal_visibility",
        v-on:clear-modal="clearModal"
      )
      reserve-modal-component(
        v-bind:current_date="currentDate",
        v-bind:period_data="periodData",
        v-bind:reserve_modal_visibility="reserve_modal_visibility",
        v-on:clear-modal="clearModal"
      )

block script
  if loginUser
    script(src="/javascripts/index.bundle.js")
