doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge7")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', type="text/css")
    if configVars
      script(src="#{configVars.vuejs}")
  body
    header
      .logo
         a(href="/") SERVICE NAME
      .action
        if loginUser
          .icon
            i.fas.fa-user-circle
          .mymenu
            span #{loginUser.username}
            a(href="/mypage") マイページ
            if loginUser
              if loginUser.role === 1
                a(href="/admin") 管理者メニュー
            a(href="/logout") ログアウト
        else
          .nav-login ログインしていません
    block content
    .overlay
      .modal
        .panel
          block modal
        .close
    script(src="/javascripts/bundle.js")
    block script
