doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge7")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', type="text/css")
  body
    header
      .logo
         a(href="/") SERVICE NAME
      .action
        if loginUser
          span #{loginUser.username}
          if loginUser.role === 1
            a(href="/admin") 管理者メニュー
          a(href="/logout") ログアウト
        else
          span.nav-login ログインしていません
    block content
