doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge7")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
  body
    header
      .menu
        div(id="nav-drawer")
          input(id="nav-input", type="checkbox", class="nav-unshown")
          label(id="nav-open", for="nav-input", class="nav-unshown")
            i(class="fas fa-bars")
          label(id="nav-close", for="nav-input", class="nav-unshown")
          div(id="nav-content")
            .head
              label.nav-unshown(for="nav-input") MENU
            .navigation
              nav
                a(href="/") ホーム
      .logo
         a(href="/")
           i(class="fas fa-star")
      .login
          span.nav-login
            i(class="fas fa-user-circle")
    .main-content
      block content
