extends layout

block content
  #app
    main-component(
      v-bind:reservations="reservations",
      v-on:show-modal="showModal"
    )
    modal-component(
      v-bind:period_data="periodData",
      v-bind:modal_visibility="modal_visibility",
      v-on:clear-modal="clearModal"
    )
    
block script
  script(src="/javascripts/mypage.bundle.js")

    
