/*
@media (max-width: 576px) {
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 992px) {
}
*/
/* reset */
img {
  vertical-align: bottom;
  opacity: 1;
  transition: opacity 1s;
}
img.hide {
  opacity: 0;
}
p {
  margin: 0;
}
ul,dl,dd {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-spacing: 0;
  width: 100%;
}
/* transition */
.v-enter-active, .v-leave-active {
  transition: opacity .5s;
}
.v-enter, .v-leave-to {
  opacity: 0;
}
/* colors */
header {
  background: #d7092f;
  color: white;
}
#nav-content .head {
  background: #d7092f;
}
a.ui-component:hover,
div.ui-component:hover,
button.ui-component {
  background-color: #d7092f;
  color: white;
  cursor: pointer;
}
a.ui-component:hover,
div.ui-component:hover {
  border-color: #d7092f;
}
.caution {
  color: red;
}
/* common */
body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  padding: 60px 0 0 0;
  margin: 0;
}
.container {
  padding: 0 1rem;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.responsive-img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
.sp-none {
  display: none !important;
}
}
@media (min-width: 768px) {
.pc-none {
  display: none !important;
}
}
/* overlay */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .6);
}
.overlay .modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  border-radius: 4px;
}
.overlay .modal .panel {
  height: 100%;
}
.overlay .modal .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  padding: 16px 1rem;
  cursor: pointer;
}
.overlay .modal .close:hover {
  color: gray;
}
.overlay .modal .close:before {
  font-family: "Font Awesome 5 Free";
  content: '\f057';
}
@media (max-width: 576px) {
.overlay .modal {
  width: 80%;
  height: 80%;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.overlay .modal {
  width: 70%;
  height: 70%;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.overlay .modal {
  width: 60%;
  height: 60%;
}
}
@media (min-width: 992px) {
.overlay .modal {
  width: 50%;
  height: 50%;
}
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  display: table;
}
header .logo,
header .action {
  display: table-cell;
  vertical-align: middle;
}
header .logo {
  width: 150px;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
header .action {
  text-align: right;
}
header .action>div {
  margin-right: 1rem;
  display: inline-block;
}
header .action .icon i {
  font-size: 2rem;
}
@media (max-width: 576px) {
header .action .mymenu {
  display: none;
  position: absolute;
  top: 60px;
  right: -2px;
  background-color: white;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  color: #333;
  width: 40%;
}
header .action .mymenu>a,
header .action .mymenu>span {
  text-align: center;
  display: block;
  padding: 1rem 0;
}
header .action .mymenu>a {
  border-bottom: solid 1px #ddd;
}
header .action .mymenu>span {
  border-bottom: solid 1px #ddd;
  background-color: #eee;
}
}
@media (min-width: 576px) {
header .action .icon {
  display: none;
}
header .action .mymenu {
  display: block;
}
header .action .mymenu a {
  padding-left: 1rem;
}
header .action .mymenu a:hover {
  text-decoration: underline;
}
}
/* ui-component */
.ui-block {
  margin-bottom: 1rem;
}
label.ui-component {
  font-weight: bold;
  display: block;
}
a.ui-component,
div.ui-component {
  display: block;
  text-align: center;
  border: solid 1px #ddd;
}
button.ui-component {
  font-weight: bold;
  border: solid 1px #d7092f;
}
select.ui-component {
  background-color: white;
  height: 2.4rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="text"].ui-component,
input[type="email"].ui-component,
input[type="password"].ui-component,
select.ui-component,
a.ui-component,
div.ui-component,
button.ui-component {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
  border-radius: 3px;
}
input[type="text"].ui-component,
input[type="email"].ui-component,
input[type="password"].ui-component,
select.ui-component {
  margin-top: .25rem;
  border: solid 1px #ddd;
}
@media (max-width: 768px) {
.ui-component {
  font-size: 16px;
}
.ui-block>.btn-holder {
  margin-top: 1rem;
}
}
@media (min-width: 768px) {
.ui-component {
  font-size: 1rem;
}
button.ui-component {
  cursor: pointer;
}
.ui-block {
  display: table;
  width: 100%;
}
.ui-block>.btn-holder {
  display: table-cell;
}
.ui-block>.btn-holder:first-child {
  padding-right: .5rem;
}
.ui-block>.btn-holder:last-child {
  padding-left: .5rem;
}
}
/* head-component */
.head-component {
  border-left: solid .5rem #d7092f;
  padding-left: .5rem;
}
.head-component span {
  font-size: .8rem;
  padding-left: 1rem;
}
/* signin and register */
.signin {
  background-image: url(/images/welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.dialog {
  padding: 1rem 1rem 0 1rem;
  background: rgba(255, 255, 255, .95);
  border: solid 1px #ddd;
  border-radius: 3px;
}
.dialog .block {
  margin-bottom: 1rem;
}
.dialog .block .head {
  font-weight: bold;
  margin-bottom: .25rem;
}
.dialog .message {
  margin-left: .5rem;
  font-size: .9rem;
}
@media (max-width: 576px) {
.signin {
  padding: 1rem;
}
.reserve .dialog,
.register .dialog {
  border: none;
}
}
@media (min-width: 576px) {
.signin {
  padding: 6rem 1rem;
}
.signin .dialog {
  margin: 0 0 0 auto;
}
.reserve,
.register {
  margin: 2rem auto;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.signin .dialog {
  width: 50%;
}
.reserve,
.register {
  width: 75%;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.signin .dialog {
  width: 40%;
}
.reserve,
.register {
  width: 60%;
}
}
@media (min-width: 992px) {
.signin .dialog {
  width: 30%;
}
.reserve,
.register {
  width: 50%;
}
}
/* office-list */
section.office {
  margin-top: 1rem;
}
.office-list .box {
  width: 100%;
  border: solid 1px #ddd;
  margin-bottom: 1rem;
}
.office-list .box>.information{
  background-color: #d7092f;
  color: white;
}
.office-list .box .data {
  padding: 1rem 1rem 0 1rem;
}
.office-list .box>.information .name {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 768px) {
.office-list .box>.information{
  position: relative;
}
.office-list .box>.information .name {
  background: linear-gradient(to top, #d7092f, transparent);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30% 0 1rem 0;
}
}
@media (min-width: 768px) {
.office-list .box {
  display: table;
}
.office-list .box>.information,
.office-list .box .data {
  display: table-cell;
  vertical-align: top;
}
.office-list .box>.information{
  width: 20%;
}
.office-list .box>.information .name {
  padding: 1rem;
}
.office-list .box .data {
  border-left: solid 1px #ddd;
}
}
/* space-list */
.space-list .space {
  margin-bottom: 1rem;
}
.space-list .space>.information {
  margin-bottom: .25rem;
}
.space-list .space>.information .name {
  float: left;
  font-weight: bold;
}
.space-list .space>.information .capacity {
  float: right;
}
.space-list .space>.information .capacity span {
  font-weight: bold;
  padding: 0 .25rem;
}
.space-list .space .reservation .period .time,
.space-list .space .reservation .period .status {
  text-align: center;
  padding: .5rem .1rem;
  background-color: #eee;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}
.space-list .space .reservation .period .time {
  font-size: .75rem;
}
.space-list .space .reservation .period .status {
  display: block;
  font-size: 1rem;
}
.space-list .space .reservation .period .status.nav-detail,
.space-list .space .reservation .period .status.available {
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
}
.space-list .space .reservation .period .status.nav-detail:hover,
.space-list .space .reservation .period .status.available:hover {
  background-color: #d7092f;
  color: white;
}
.space-list .space .reservation .period .status.unavailable {
  font-size: .75rem;
}
@media (max-width: 576px) {
.space-list .space .reservation .period {
  display: table;
  width: 100%;
}
.space-list .space .reservation .period>.time,
.space-list .space .reservation .period>.status {
  display: table-cell;
  vertical-align: middle;
}
.space-list .space .reservation .period>.time {
  width: 60%;
}
.space-list .space .reservation .period>.status {
  width: 40%;
}
.space-list .space .reservation .period:last-child .time,
.space-list .space .reservation .period:last-child .status {
  border-bottom: none;
}
}
@media (min-width: 576px) {
.space-list .space .reservation {
  display: table;
  width: 100%;
}
.space-list .space .reservation .period {
  display: table-cell;
  width: 10%;
  vertical-align: middle;
}
.space-list .space .reservation .period .status {
  border-right: solid 1px white;
}
.space-list .space .reservation .period:last-child .time,
.space-list .space .reservation .period:last-child .status {
  border-right: none;
}
}
/* admin */
.admin-index ul {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.admin-index ul li {
  margin-bottom: 1rem;
}
.admin-index ul li a:hover {
  text-decoration: underline;
}
.admin-list {
  margin-bottom: 1rem;
}
.admin-list table {
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
}
.admin-list table th,
.admin-list table td {
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.admin-list table th {
  background-color: #eee;
  padding: .5rem 0;
}
.admin-list table td {
  padding: .5rem 1rem;
}
/* date */
section.date {
  padding: 1rem 1rem 0 1rem;
}
section.date .holder .select {
  text-align: right;
  cursor: pointer;
}
section.date .holder .select:hover {
  color: gray;
}
section.date .holder .present>.holder {
  display: table;
  width: 100%;
}
section.date .present .nav,
section.date .present .text {
  display: table-cell;
  vertical-align: middle;
}
section.date .present .nav {
  cursor: pointer;
}
section.date .present .text {
  text-align: center;
}
section.date .present .text .num {
  font-weight: bold;
  padding-left: .25rem;
  padding-right: .25rem;
}
section.date .present .text .unit:nth-of-type(7) {
  padding-left: .25rem;
}
section.date .present .text .dayofweek {
  font-weight: bold;
  padding-left: .25rem;
  padding-right: .25rem;
}
section.date .present .nav:hover {
  color: gray;
}
section.date .present .nav a {
  display: block;
}
@media (max-width: 576px) {
section.date .holder {
  position: relative;
}
section.date .holder .today {
  width: 50%;
  margin-bottom: 1rem;
}
section.date .holder .select {
  position: absolute;
  right: 0;
  top: .5rem;
}
section.date .present .nav {
  width: 3rem;
}
section.date .present .prev {
  text-align: left;
}
section.date .present .next {
  text-align: right;
}
section.date .present .text .num {
  font-size: 1.5rem;
}
section.date .present .text .dayofweek {
  font-size: 1rem;
}
}
@media (min-width: 576px) {
section.date>.holder {
  display: table;
  width: 100%;
}
section.date>.holder .block {
  display: table-cell;
  vertical-align: middle;
}
section.date .holder .present {
  text-align: center;
}
section.date .holder .today,
section.date .holder .select {
  width: 20%;
}
section.date .present .nav {
  width: 30%;
}
section.date .present .prev {
  text-align: right;
  padding-right: .5rem;
}
section.date .present .next {
  text-align: left;
  padding-left: .5rem;
}
section.date .present .text .num {
  font-size: 2rem;
}
section.date .present .text .dayofweek {
  font-size: 1.25rem;
}
}
/* my-reservation-list */
.my-reservation-list {
  margin-bottom: 1rem;
}
.my-reservation-list .block {
  display: table;
  width: 100%;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
}
.my-reservation-list .block:last-child {
  border-bottom: solid 1px #ddd;
}
.my-reservation-list .block .line {
  display: table-cell;
  border-right: solid 1px #ddd;
  vertical-align: middle;
}
.my-reservation-list .block .line>div {
  padding: .5rem 1rem;
}
.my-reservation-list .block .head {
  display: none;
  text-align: center;
}
.my-reservation-list .block:first-child .head {
  display: block;
  background-color: #eee;
}
.my-reservation-list .block .date{
  width: 15rem;
}
.my-reservation-list .block .officename,
.my-reservation-list .block .spacename {
  width: 10rem;
}
.my-reservation-list .block .action {
  width: 10rem;
  text-align: center;
}
.my-reservation-list .block .action .btn-cancel {
  cursor: pointer;
  color: red;
}
.my-reservation-list .block .action .btn-cancel:hover {
  text-decoration: underline;
}
.my-reservation-list .block .action span {
  color: gray;
}
/* cancel */
.cancel {
  padding: 1rem;
}
.cancel .message h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.cancel .nav-holder {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
}
.cancel .nav-holder .confirm {
  border: none;
  background: #d7092f;
  color: white;
}
.cancel .information>div{
  margin-bottom: 1rem;
}
.cancel .information>div>.head{
  font-weight: bold;
}
@media (max-width: 576px) {
.cancel .nav-holder .btn-holder {
  padding: 1rem 1rem 0 1rem;
}
}
@media (min-width: 576px) {
.cancel .nav-holder {
  display: table;
}
.cancel .nav-holder .btn-holder {
  display: table-cell;
  width: 50%;
}
.cancel .nav-holder .btn-holder:first-child {
  padding: 0 .5rem 0 1rem;
}
.cancel .nav-holder .btn-holder:last-child {
  padding: 0 1rem 0 .5rem;
}
.cancel .information>div{
  display: table;
  width: 100%;
}
.cancel .information>div>div{
  display: table-cell;
}
.cancel .information>div>.head{
  width: 25%;
}
}
/* complete */
.complete .container {
  text-align: center;
}
.complete .container .body {
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
.complete .container {
  margin: 0 auto;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.complete .container {
  width: 70%;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.complete .container {
  width: 60%;
}
}
@media (min-width: 992px) {
.complete .container {
  width: 50%;
}
}
